---
layout: default
title: ¿Buscas qué hacer en San Agustín y Pitalito Huila?
h1: El mejor magazine sobre San Agustín y Pitalito
description: Conoce los lugares turísticos, los hoteles y las experiencias que ofrece San Agustín y Pitalito Huila. Todo desde las vivencias de tu heladería favorita GurCoff
intro: El blog de GurCoff es una invitación para que prepares tu viaje, para que salgas un ratico, para que te relajes. Y por supuesto, también para vengas a disfrutar la tarde en tu <strong>heladería favorita GurCoff.</strong>
jpg: blog-gurcoff.svg
hero: blog-gurcoff.svg
webpb: blog-gurcoff.svg
webpm: blog-gurcoff.svg
webps: blog-gurcoff.svg
alt: Blog de la heladería GurCoff
background-header: var(--principal)
---
<section class="blog wrapper">
  <h2>Un #raticogurcoff, tu nuevo blog favorito</h2>
  <div>
  {% include add1.html %}
  {% for post in site.posts %}
  <article>
    <a href="{{ post.url }}" title="{{ post.title }}">
      <img src="{{ site.baseurl }}/img/{{ post.img }}" width="320" height="240" alt="{{ post.alt }}" loading="lazy">
    <h4>{{ post.h1 }}</h4>
  </a>
  </article>
  {% endfor %}
    {% include add1.html %}
</div>
</section>
<div class="wrapper flow">
  <h2>Si vienes al sur del Huila, tienes que probar GurCoff</h2>
    <p>Y es totalmente cierto. Enamorarse de San Agustín y Pitalito es muy fácil. Por todo esto, de parte del equipo de la <a href="{{site.baseurl}}/contacto">Heladería GurCoff</a>, te dejamos con este llamado: <strong>¡Te esperamos en San Agustín y Pitalito Huila!</strong></p>
      </div>
  </section>
  