---
layout: buscador
title: ¿Buscas qué hacer en San Agustín Huila?
description: Conoce los lugares turísticos, los hoteles y las experiencias que ofrece San Agustín Huila. Todo desde las vivencias de tu heladería favorita.
---
{% include header.html %}
<section class="magazine">
  <p>{{page.description}}</p>
  {% include search.html %}
  <h2>El Blog de San Agustín Huila</h2>
  {% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <h3 id="{{ category_name}}">{{ category_name | capitalize}}
  </h3>
  {% for post in site.categories[category_name] %}
  <article>
    <a href="{{site.baseurl}}{{ post.url }}" target="_blank">
      <img src="{{ site.baseurl }}/{{ post.img }}" width="100%" height="auto" alt="{{ post.alt }}">
      <h4>{{ post.title }}</h4>
    </a>
  </article>
    {% endfor %}
  {% endfor %}
</section>