---
layout: buscador
title: La Carta de tu Heladería GurCoff
description: Busca cuál helado te gustaría pedir en San Agustín Huila
hero: img/carta/carta.png
herow: img/carta/carta.webp
---
{% include header.html %}

{% include redes.html %}

<main class="carta">
  {% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <h3 id="{{ category_name}}"> {{ category_name }}</h3>
  <div class="categoria">
    {% for post in site.categories[category_name] %}
    <article class="wow fadeInRightBig">
      <picture class="foto">
        <source type="image/webp" srcset="{{ site.baseurl }}/{{ post.webp }}">
        <img src="{{ site.baseurl }}/{{ post.src }}" class="wow flipInY" alt="{{ post.alt }}">
      </picture>
      <h4>{{ post.title }} - ${{ post.precio }}</h4>
      <a href="{{post.url}}" class="icon-chevron-circle-right"></a>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</main>

<section id="search-container">
  <h3>Encuentra lo que estás buscando:</h3>
  <input type="text" id="search-input" placeholder="Busca aquí...">
  <ul id="results-container"></ul>
</section>

<section class="carta-footer">
  <h2> Heladería GurCoff </h2>
  <p>Encuentra más información sobre nuestra casita en San Agustín, Huila. Visita nuestra sección de contacto:</p>
  {% include boton.html path="/contacto" texto="Conoce a GurCoff" %}
</section>