---
layout: default
title: Carta de la heladería GurCoff
h1: Conoce los helados <span class="fuenteGurcoff">GurCoff</span> favoritos de Pitalito y San Agustín
description: ¿Conoces la carta de GurCoff? Antójate de los helados, waffles, ensalada de frutas, copas deluxe y otros. Serán tus nuevos favoritos!
jpg: copa-achocolatada.jpg
hero: copa-achocolatada-600.webp
webpb: copa-achocolatada-600.webp
webpm: copa-achocolatada-600.webp
webps: copa-achocolatada-376.webp
alt: Helados de la heladería GurCoff de Pitalito y San Agustín Huila
intro: '¿Conoces la carta de GurCoff? Antójate de los <strong>helados, waffles, ensalada de frutas, copas deluxe</strong> y otros. Serán tus nuevos favoritos!'
boton: "Ver productos"
boton_link: "#productos"
boton2: "Cómo pedir"
boton2_link: "#pasos"
---
<hr>
<main  id="productos" class="carta wrapper">
  <h2>Antójate de tu favorito con la carta GurCoff</h2>

  <div class="flow">
    {% for item in site.data.carta %} {% assign cat = item[0] %}
  <h3>{{ cat }}</h3>
  <div class="carta-productos">
    {% for producto in site.data.carta[cat] %}
    <article style="background-image: url('{{site.baseurl}}/img/menu/{{producto.img}}'); background-repeat: no-repeat; background-position: center;">
    <details>
      <summary>
        <div>
          <p>≻ {{producto.nombre}}</p>
          <p>{{producto.precio}}</p>
        </div>
      </summary>
      
      <div>
          <ul>
            {% for toppin in producto.toppins %}
            <li><b>✓</b> {{toppin}}</li>
            {% endfor %}
          </ul>
          <a href="{{producto.link}}" rel="nofollow" class="boton-main">Pedir domicilio</a>
      </div>
    </details>
  </article>
  {% endfor %}
</div>
{% include add2.html %}
  {% endfor %}
  </div>
</main>
<section class="cta wrapper" id="pasos">
  <h2>Pasos para pedir tu antojito de helado<span class="fuenteGurcoff">GurCoff</span></h2>
  <ol>
    <li>Toca el nombre del <a href="#productos" title="Carta GurCoff">helado que más te gusta de la lista</a> y despliega la descripción</li>
    <li>Haz clic en el botón "Pedir domicilio" para abrir el producto en el catálogo de WhatsApp</li>
    <li>Agrega los productos al <a href="https://wa.me/c/573026370737" rel="nofollow noopener noreferrer" target="_blank">carrito de WhatsApp</a>.</li>
    <li>Envía tu pedido y disfruta</li>
  </ol>
  <p>También puedes ver más fotografía haciendo clic en el catálogo de WhatsApp.</p>
</section>
{% include add1.html %}
