---
layout: default
title: San Agustín y Pitalito Huila tiene su heladería favorita | GurCoff
h1: El mejor lugar de San Agustín y Pitalito para comer un delicioso antojito
description: En San Agustín y Pitalito Huila somos el punto para comer bien rico y relajarse en el lugar mejor calificado de la zona. ¡Tienes que venir y probarlo tú mismo!
intro: Desde el año 2019 estamos enamorando a los amantes del helado suave y de las tardes deliciosas en San Agustín y Pitalito
jpg: heladeria-gurcoff.jpg
hero: heladeria-gurcoff.webp
webpb: heladeria-gurcoff-800.webp
webpm: heladeria-gurcoff-600.webp
webps: heladeria-gurcoff-376.webp
alt: Helados de la heladería GurCoff de Pitalito y San Agustín Huila
background-header: var(--principal)
---
<section class="benefits">
  <div>
    <h2><span class="fuenteGurcoff">GurCoff</span> de Pitalito y San Agustín son únicos</h2>
    <p>Muchos de nuestros clientes son de <strong>San Agustín, Pitalito, Neiva, Popayán, Cali, y Bogotá.</strong><br>¿Por qué les encanta <a href="{{'contacto'|relative_url}}" title="Pagina de contacto de GurCoff">venir a comer helado a GurCoff</a>?</p>
    <img src="{{ 'img/logotipo-blanco.webp' | relative_url }}" alt="Logotipo de la heladería GurCoff de San Agustín y Pitalito Huila" width="300px" height="144.64px">
    <h3>Razones por la que <span class="fuenteGurcoff">GurCoff</span> te va a enamorar</h3>
  </div>
  <div class="benefits-points">
    <article>
      <img src="{{ 'img/copas-doble-helado-gurcoff.webp' | relative_url }}" alt="Copas con doble porción de helado suave GurCoff" title="Copas Doble Helado GurCoff" width="auto" height="120px" loading="lazy">
      <p>1. <b>Nuestras recetas de helado únicas</b>. Con ayuda profesional hicimos las recetas de <em>helado de yogurt y de helado de vainillia.</em></p>
    </article>
    <article>
      <img src="{{ 'img/vaso-helado-suave-gurcoff.webp' | relative_url }}" alt="Vasitos con helado GurCoff" title="Vasitos de helado GurCoff" width="auto" height="120px" loading="lazy">
      <p>2. <b>Les encanta nuestros procesos</b>. Nuestros sistemas de atención y servicio no han hecho una excelente reputación.</p>
    </article>
    <article>
      <img src="{{ 'img/cafe-affogato-san-agustin-huila.webp' | relative_url }}" alt="Café Affogato de GurCoff" title="Café Affogato GurCoff" width="auto" height="120px" loading="lazy">
      <p>3. <strong>La combinación de pastelería y frutas</strong> en la carta se prueba por varias personas hasta lograr el mejor resultado.</p>
    </article>
    <article>
      <img src="{{ 'img/ensadala-frutas-helado-gurcoff.webp' | relative_url }}" alt="Ensalada de frutas de GurCoff" title="Ensalada de frutas GurCoff" width="auto" height="120px" loading="lazy">
      <p>4. <strong>El mejor ambiente de Pitalito y San Agustín</strong>. Por eso es tan agradable pasar un <b>#raticogurcoff.</b></p>
    </article>
  </div>
</section>

{% include gallery.html %}
<!-- <section style="background-color: var(--accion); background-image: url('{{site.baseurl}}/img/brick-wall.png');" class="toppins">
  <h2>La heladería GurCoff tiene sus recetas especiales</h2>
</section> -->
<section class="testimonials">
  <h2>Nuestros clientes nos recomiendan</h2>
  <p>Seguramente quieres saber qué opinan los demás de nuestros helados. Te invitamos a leer sus opiniones. Y luego, a dejarnos tu propia opinión cuando ya hayas disfrutado la experiencia GurCoff.</p>
  <div>
    <a href="https://g.page/r/CVLIWAcJjLsKEB0/review" target="_blank" rel="nofollow">
      <article>
        <img
        src="https://lh3.googleusercontent.com/a-/AOh14GhwSfbZ5YilyNOfuMRIaPfQyVvrgkM82-kzAQMPiw=w75-h75-p-rp-mo-ba4-br100"
          alt="Foto de perfil de María Paula Bonilla, cliente de GurCoff" title="Maria Paula Bonilla" width="80px"
          height="80px" loading="lazy">
          <h4>Maria Paula Bonilla</h4>
          <ul>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
        </ul>
        <p>El helado de vainilla esta riquísimo. Esta atendido por sus dueños y son super atentos. La decoración del lugar es muy colorida, es muy agradable para parar a tomar un buen postre.</p>
        </article>
      </a>
    <a href="https://g.page/r/CVLIWAcJjLsKEB0/review" target="_blank" rel="nofollow">
      <article>
        <img
          src="https://lh3.googleusercontent.com/a-/AOh14GiXlfLibw8hZgXya9GhzlRhAXBCpKo54E-SJGqsEQ=w75-h75-p-rp-mo-br100"
          alt="Foto de perfil de Carlos R, cliente de GurCoff" title="Carlos R" width="80px" height="80px"
          loading="lazy">
        <h4>Carlos R</h4>
        <ul>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
        </ul>
        <p>La calidad del helado es una genialidad!!! y la atención me encanta, los recomiendo 100% de verdad muy buenos
        </p>
      </article>
    </a>
    <a href="https://g.page/r/CVLIWAcJjLsKEB0/review" target="_blank" rel="nofollow">
      <article>
        <img
          src="https://lh3.googleusercontent.com/a-/AOh14GjbYATe4W33IWRR_BwP9XzrNZ5K51yg45Pbmcunz9A=w75-h75-p-rp-mo-ba4-br100"
          alt="Foto de perfil de Carolina Castro Parra, cliente de GurCoff" title="Carolina Castro Parra" width="80px"
          height="80px" loading="lazy">
        <h4>Carolina Castro Parra</h4>
        <ul>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
        </ul>
        <p>Oficialmente <strong>mi lugar favorito de San Agustín.</strong> No solo el concepto temático de bici y lo colorido del lugar sino los helados exquisitos y exóticos (idea no común de presentación y preparación). Súper recomendado!</p>
      </article>
    </a>
  </div>
  <h3>Lee más opiniones en nuestro perfil de Google <span class="fuenteGurcoff">"GurCoff"</span></h3>
  <a href="https://g.page/r/CVLIWAcJjLsKEB0/review" target="_blank" rel="nofollow" class="boton-main">Ir al perfil de
    Google</a>
</section>

{% include instagram.html username="gurcoff" %}

<section class="blog">
  <h2><span class="fuenteGurcoff">GurCoff</span> tiene el mejor blog del Huila</h2>
  <p>Ven a probar las exclusivas recetas de GurCoff. <strong>Visítanos en San Agustín o Pitalito Huila</strong> . Mientras tanto, te preparamos un <a href="{{'blog'|relative_url}}" title="Blog de GurCoff">blog</a> con información que puede hacer tu vida más deliciosa.</p>
  <p>Además, comenzamos 1 sección especial para compartirte todo lo que hemos aprendido para brindarte un <a href="https://www.instagram.com/explore/tags/raticogurcoff/" rel="nofollow noreferrer" title="Hashtag #raticogurcoff" target="_blank">#raticogurcoff</a></p>
  <div>
      {% assign primer-articulo = site.posts[0] %}
      <article>
        <h4>{{ primer-articulo.h1 }}</h4>
        <a href="{{site.baseurl}}{{ primer-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ primer-articulo.img }}" width="320" height="240" alt="{{ primer-articulo.alt }}" loading="lazy">
          <p>{{ primer-articulo.intro | truncate: 60 }}</p>
        </a>
      </article>
      {% assign segundo-articulo = site.posts[1] %}
      <article>
        <h4>{{ segundo-articulo.h1 }}</h4>
        <a href="{{site.baseurl}}{{ segundo-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ segundo-articulo.img }}" width="320" height="240" alt="{{ segundo-articulo.alt }}" loading="lazy">
          <p>{{ segundo-articulo.intro | truncate: 60 }}</p>
        </a>
      </article>
      {% assign tercer-articulo = site.posts[2] %}
      <article>
        <h4>{{ tercer-articulo.h1 }}</h4>
        <a href="{{site.baseurl}}{{ tercer-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ tercer-articulo.img }}" width="320" height="240" alt="{{ tercer-articulo.alt }}" loading="lazy">
          <p>{{ tercer-articulo.intro | truncate: 60 }}</p>
        </a>
      </article>
      {% assign cuarto-articulo = site.posts[3] %}
      <article>
        <h4>{{ cuarto-articulo.h1 }}</h4>
        <a href="{{site.baseurl}}{{ cuarto-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ cuarto-articulo.img }}" width="320" height="240" alt="{{ cuarto-articulo.alt }}" loading="lazy">
          <p>{{ cuarto-articulo.intro | truncate: 60 }}</p>
        </a>
      </article>
      {% assign quinto-articulo = site.posts[4] %}
      <article>
        <h4>{{ quinto-articulo.h1 }}</h4>
        <a href="{{site.baseurl}}{{ quinto-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ quinto-articulo.img }}" width="320" height="240" alt="{{ quinto-articulo.alt }}" loading="lazy">
          <p>{{ quinto-articulo.intro | truncate: 60 }}</p>
        </a>
      </article>
      {% assign sexto-articulo = site.posts[5] %}
      <article>
        <h4>{{ sexto-articulo.h1 }}</h4>
        <a href="{{site.baseurl}}{{ sexto-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ sexto-articulo.img }}" width="320" height="240" alt="{{ sexto-articulo.alt }}" loading="lazy">
          <p>{{ sexto-articulo.intro | truncate: 60 }}</p>
        </a>
      </article>
      <a href="{{site.baseurl}}/blog" class="boton-main">Visita nuestro blog</a>
    </div>
  </section>
  <section class="benefits">
    <div>
      <h2>Si vienes a San Agustín o Pitalito, tienes que venir a la Heladería GurCoff</h2>
      <p>En nuestra <a href="{{'contacto'|relative_url}}" title="Página de contacto">página de contacto</a> te preparamos información como <strong>la dirección de cada sede, teléfono, mapas, WhatsApp, nuestras redes sociales</strong> y hasta un poco de nuestra historia.</p>
      <p>Recuerda que si haces <em>clic en el cuadrito blanco que aparece en los mapas</em>, puedes seleccionar el botón que te da indicaciones para llegar hasta nuestras heladerías.</strong> </p>
      <p><strong>¡Bienvenidos a la mejor heladería del sur del Huila!</strong></p>
    </div>
    <div class="benefits-points">
      <article>
        <iframe src="{{ site.maps }}" width="100%" height="450" frameborder="0"></iframe>
      </article>
      <article>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13031.282177016526!2d-76.06482644138951!3d1.846415220120614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e250b00c26cebf7%3A0x1929c6bf31953692!2sGurcoff%20Helader%C3%ADa%20Pitalito!5e0!3m2!1ses-419!2sco!4v1669427069006!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </article>
      <p><em>Mapas con la ubicación de GurCoff en San Agustín y Pitalito Huila.</em></p>
    </div>
  </section>