---
layout: default
title: San Agustín y Pitalito Huila tiene su heladería favorita | GurCoff
h1: El mejor lugar de San Agustín y Pitalito para comer un delicioso postre
description: En San Agustín y Pitalito Huila somos el punto para comer bien rico y relajarse en el lugar mejor calificado de la zona. ¡Tienes que venir y probarlo tú mismo!
intro: Desde el año 2019 estamos enamorando a los amantes del helado suave y de las tardes deliciosas en San Agustín y Pitalito
jpg: heladeria-gurcoff.jpg
hero: heladeria-gurcoff.webp
webpb: heladeria-gurcoff-800.webp
webpm: heladeria-gurcoff-600.webp
webps: heladeria-gurcoff-376.webp
alt: Helados de la heladería GurCoff de Pitalito y San Agustín Huila
boton: "Pitalito"
boton_link: "https://goo.gl/maps/xRA8YXkkYfximyUu9"
boton2: "San Agustín"
boton2_link: "https://goo.gl/maps/Kc6g8sZTeBaM71aP8"
---
<section class="benefits wrapper flow">
  <div class="flow">
    <img src="/img/gurcoff-heladeria-huila.webp" alt="">
    <h2><span class="fuenteGurcoff">¿Qué es lo que más ama la gente de GurCoff?</h2>
    <p>Muchos de nuestros clientes son de <strong>San Agustín, Pitalito, Neiva, Popayán, Cali, y Bogotá. Te contamos porqué nos prefieren.</strong></p>
  </div>
  <div class="benefits-points flow">
    <h3>Razones por la que <span class="fuenteGurcoff">GurCoff</span> te va a enamorar</h3>
    <article>
      <img src="{{ 'img/copas-doble-helado-gurcoff.webp' | relative_url }}" alt="Copas con doble porción de helado suave GurCoff" title="Copas Doble Helado GurCoff" width="auto" height="148px" loading="lazy">
      <p>1. <b>Nuestras recetas de helado únicas</b>. Con ayuda profesional hicimos las recetas de <em>helado de yogurt y de helado de vainillia.</em></p>
    </article>
    <article>
      <img src="{{ 'img/vaso-helado-suave-gurcoff.webp' | relative_url }}" alt="Vasitos con helado GurCoff" title="Vasitos de helado GurCoff" width="auto" height="148px" loading="lazy">
      <p>2. <b>Nuestros procesos y sistemas</b>. Nos organizamos muy bien para mantener la excelente reputación que nos caracteriza por la atención al público.</p>
    </article>
    <article>
      <img src="{{ 'img/cafe-affogato-san-agustin-huila.webp' | relative_url }}" alt="Café Affogato de GurCoff" title="Café Affogato GurCoff" width="auto" height="148px" loading="lazy">
      <p>3. <strong>La combinación de pastelería y frutas</strong> en la carta se prueban hasta asegurarnos que te estamos ofreciendo lo mejor.</p>
    </article>
    <article>
      <img src="{{ 'img/ensadala-frutas-helado-gurcoff.webp' | relative_url }}" alt="Ensalada de frutas de GurCoff" title="Ensalada de frutas GurCoff" width="auto" height="148px" loading="lazy">
      <p>4. <strong>El mejor ambiente de Pitalito y San Agustín</strong>. Por eso es tan agradable pasar un <b>#raticogurcoff.</b></p>
    </article>
    <a href="https://wa.me/573026370737" class="boton-main" target="_blank" rel="nofollow">Pedir domicilio</a>

  </div>
</section>
{% include gallery.html %}
<section class="testimonials flow wrapper">
  <h2>¿Qué te espera en GurCoff?</h2>
  <p>¿Te gustaría saber qué vas a vivir cuando nos visites? Te invitamos a leer las opiniones de nuestros clientes. Y déjanos tu opinión cuando ya hayas disfrutado la experiencia GurCoff.</p>
  <div>
    <a href="https://g.page/r/CVLIWAcJjLsKEB0/review" target="_blank" rel="nofollow">
      <article>
        <img
        src="https://lh3.googleusercontent.com/a-/AOh14GhwSfbZ5YilyNOfuMRIaPfQyVvrgkM82-kzAQMPiw=w75-h75-p-rp-mo-ba4-br100"
          alt="Foto de perfil de María Paula Bonilla, cliente de GurCoff" title="Maria Paula Bonilla" width="80px"
          height="80px" loading="lazy">
          <h4>Maria Paula Bonilla</h4>
          <ul>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
        </ul>
        <p>El helado de vainilla esta riquísimo. Esta atendido por sus dueños y son super atentos. La decoración del lugar es muy colorida, es muy agradable para parar a tomar un buen postre.</p>
        </article>
      </a>
    <a href="https://g.page/r/CVLIWAcJjLsKEB0/review" target="_blank" rel="nofollow">
      <article>
        <img
          src="https://lh3.googleusercontent.com/a-/AOh14GiXlfLibw8hZgXya9GhzlRhAXBCpKo54E-SJGqsEQ=w75-h75-p-rp-mo-br100"
          alt="Foto de perfil de Carlos R, cliente de GurCoff" title="Carlos R" width="80px" height="80px"
          loading="lazy">
        <h4>Carlos R</h4>
        <ul>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
        </ul>
        <p>La calidad del helado es una genialidad!!! y la atención me encanta, los recomiendo 100% de verdad muy buenos
        </p>
      </article>
    </a>
    <a href="https://g.page/r/CVLIWAcJjLsKEB0/review" target="_blank" rel="nofollow">
      <article>
        <img
          src="https://lh3.googleusercontent.com/a-/AOh14GjbYATe4W33IWRR_BwP9XzrNZ5K51yg45Pbmcunz9A=w75-h75-p-rp-mo-ba4-br100"
          alt="Foto de perfil de Carolina Castro Parra, cliente de GurCoff" title="Carolina Castro Parra" width="80px"
          height="80px" loading="lazy">
        <h4>Carolina Castro Parra</h4>
        <ul>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
          <li>★</li>
        </ul>
        <p>Oficialmente <strong>mi lugar favorito de San Agustín.</strong> No solo el concepto temático de bici y lo colorido del lugar sino los helados exquisitos y exóticos (idea no común de presentación y preparación). Súper recomendado!</p>
      </article>
    </a>
  </div>
  <h3>Lee más opiniones en nuestro perfil de Google <span class="fuenteGurcoff">"GurCoff"</span></h3>
  <a href="https://g.page/r/CVLIWAcJjLsKEB0/review" target="_blank" rel="nofollow" class="boton-main">Ir al perfil de
    Google</a>
</section>

{% include instagram.html username="gurcoff" %}

<section class="blog">
  <h3><span class="fuenteGurcoff">GurCoff</span> tiene el mejor blog del Huila</h3>
  <p>Ven a probar las exclusivas recetas de GurCoff. <strong>Visítanos en San Agustín o Pitalito Huila</strong> . Mientras tanto, te preparamos un <a href="{{'blog'|relative_url}}" title="Blog de GurCoff">blog</a> con información que te ayude a disfrutar más de tu <a href="https://www.instagram.com/explore/tags/raticogurcoff/" rel="nofollow noreferrer" title="Hashtag #raticogurcoff" target="_blank">#raticogurcoff</a>.</p>
  <div>
      {% assign primer-articulo = site.posts[0] %}
      <article>
        <a href="{{site.baseurl}}{{ primer-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ primer-articulo.img }}" alt="{{ primer-articulo.alt }}" loading="lazy">
          <h4>{{ primer-articulo.h1 }}</h4>
        </a>
      </article>
      {% assign segundo-articulo = site.posts[1] %}
      <article>
        <a href="{{site.baseurl}}{{ segundo-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ segundo-articulo.img }}" alt="{{ segundo-articulo.alt }}" loading="lazy">
          <h4>{{ segundo-articulo.h1 }}</h4>
        </a>
      </article>
      {% assign tercer-articulo = site.posts[2] %}
      <article>
        <a href="{{site.baseurl}}{{ tercer-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ tercer-articulo.img }}" alt="{{ tercer-articulo.alt }}" loading="lazy">
          <h4>{{ tercer-articulo.h1 }}</h4>
        </a>
      </article>
      {% assign cuarto-articulo = site.posts[3] %}
      <article>
        <a href="{{site.baseurl}}{{ cuarto-articulo.url }}">
          <img src="{{ site.baseurl }}/img/{{ cuarto-articulo.img }}" alt="{{ cuarto-articulo.alt }}" loading="lazy">
          <h4>{{ cuarto-articulo.h1 }}</h4>
        </a>
      </article>
      <a href="{{site.baseurl}}/blog" class="boton-main">Visita nuestro blog</a>
    </div>
  </section>
  <section class="wrapper cta">
    <div class="flow">

      <h2>Si vienes a San Agustín o Pitalito, tienes que venir a la Heladería GurCoff</h2>
      <p>En nuestra <a href="{{'contacto'|relative_url}}" title="Página de contacto">página de contacto</a> puedes buscar nuestra información como <strong>la dirección de cada sede, teléfono, mapas, WhatsApp, nuestras redes sociales</strong> y hasta un poco de nuestra historia.</p>
      <p>¿Te gustaría <strong>pedir un domicilio o hacer una reserva en GurCoff</strong>? Entonces haz clic en la sede de tu localidad.</p>
    </div>
      <div class="flow">
        <a href="https://goo.gl/maps/xRA8YXkkYfximyUu9" class="boton-main" target="_blank" rel="nofollow">Pitalito</a>
        <a href="https://goo.gl/maps/Kc6g8sZTeBaM71aP8" class="boton-main" target="_blank" rel="nofollow">San Agustín</a>
        <a href="https://wa.me/573026370737" class="boton-main" target="_blank" rel="nofollow">Pedir domicilio</a>
        <p><strong>¡Bienvenidos a la mejor heladería del sur del Huila!</strong></p>
      </div>
  </section>