---
layout: default
title: Magazine de GurCof San Agustín
description: Entérate de consejos, novedades y buenas noticias de San Agustín. Además, de lo último en tu heladería favorita.
---
{% include header.html %}
<section class="magazine">
  <h2>Lo último de San Agustín Huila</h2>
  <p>En esta sección podrás estar al día con los consejos, novedades y buenas noticias de San Agustín. Además, de lo último en tu heladería favorita.</p>
  <hr class="separador">
  {% for post in site.tags.magazine limit='7'%}
  <article>
    <picture class="foto">
      <source type="image/webp" srcset="{{ site.baseurl }}/{{ post.webp }}">
        <img src="{{ site.baseurl }}/{{ page.src }}" class="wow flipInY"  data-wow-delay="0.3s" alt="{{ post.alt }}">
      </picture>
      <h3>
        {{ post.title }}
      </h3>
      {{ post.excerpt }}
      <a href="{{ site.baseurl }}{{ post.url }}" class="icon-chevron-circle-right"> Leer más</a>
    </article>
    <hr class="separador">
  {% endfor %}
</section>

{% include footer.html %}