
<div id="condiciones">

  <ul>
  <li class="icon-leaf"> Tu domicilio será gratis después de $8000.</li>

  <li class="icon-leaf"> Si tu compra es menor a $8000, el costo del domicilio será de $1000.</li>

  <li class="icon-leaf"> El domicilio gratis aplica solamente en la zona urbana de San Agustín. Las veredas cercanas cancelarán $2000 por domicilio.</li>

  <li class="icon-leaf"> Las zonas rurales solo se atenderán según la disponibilidad de tiempo. En ocasiones hay mucho trabajo en la zona urbana y no alcanzamos a salir a la zona rural.</li>
  </ul>

</div>