{% for galeria in site.posts limit:{{include.limite}} %}
{% if galeria.principal == 'si' %}
<article>
  <picture class="foto">
    <source type="image/webp" srcset="{{ site.baseurl }}/{{ galeria.webp }}">
    <img src="{{ site.baseurl }}/{{ galeria.src }}" class="wow flipInY"  data-wow-delay="0.7s" alt="{{ galeria.alt }}">
  </picture>
    <h3>
      {{ galeria.title }} - <span>${{ galeria.precio }}</span>
    </h3>
    <a href="{{galeria.url}}" class="icon-chevron-circle-right"> Mirar más</a>
</article>
{% endif %}
{% endfor %}

