<footer>

  <section class="restaurant-guru">
    <!-- Restaurant guru -->
    <link href="https://awards.infcdn.net/transparent_v3.css" rel="stylesheet" />
    <div id="aw_transp" class="aw_transp_black"
      onclick="if(event.target.nodeName.toLowerCase() != 'a') {window.open(this.querySelector('.aw_name').href);return 0;}">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 90 113" style="enable-background:new 0 0 90 113;" xml:space="preserve" preserveAspectRatio="none"
        class="aw_svg">
        <style type="text/css">
          .st0 {
            fill: #88fde4;
          }
        </style>
        <polygon class="st0" points="61.8,31.7 61.8,31.7 61.8,31.7 " />
        <path class="st0"
          d="M87.2,10.5C82.5,2.6,56,0,44.7,0C33.3,0,6.8,2.6,2.1,10.5C-2.5,18.2,1.8,75.9,2,78.3c0,0.2,0.1,6.1,5.3,11.2	c4.4,4.3,23.6,20.8,37.2,23.8l0.2,0l0.2,0c13.5-3,32.8-19.6,37.2-23.8c5.2-5.1,5.3-11,5.3-11.1C87.5,75.9,91.8,18.2,87.2,10.5z M44.7,111.5c-13-3-32.1-19.4-36.1-23.3c-4.7-4.5-4.7-9.8-4.8-10C2.6,61.7,0.1,17.4,3.7,11.4c4.1-6.8,28.7-9.6,41-9.6	c12.3,0,36.9,2.8,41,9.6c3.6,6,1.1,50.2-0.1,66.9c0,0.1-0.1,5.4-4.7,9.9C76.7,92.1,57.6,108.5,44.7,111.5z" />
      </svg>
      <div class="aw-arc "> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          width="300px" height="300px" viewBox="0 0 300 300">
          <defs>
            <path id="rest-aw-arc" d="M 30 150 a 120 120 0 1 1 240 0"></path>
          </defs> <text class="aw_arc-heading " fill="#88fde4" text-anchor="middle">
            <textPath startOffset="50%" xlink:href="#rest-aw-arc">Los mejor postres</textPath>
          </text>
        </svg> </div>
      <div class="aw_year">2022</div> <a href="https://restaurantguru.com/Gurcoff-San-Agustin-Huila" class="aw_name"
        target="_blank">GurCoff San Agustín Huila</a> <a href="https://restaurantguru.com" class="aw-r_bot"
        target="_blank" rel="nofollow">Restaurant Guru</a>
    </div>

    <link href="https://awards.infcdn.net/transparent_v2.css" rel="stylesheet"/><div id="rest_white" data="36" class="rest_black" onclick="if(event.target.nodeName.toLowerCase() != 'a') {window.open(this.querySelector('.rest-white_center').href);return 0;}"> <div class="rest-white_year">2022</div> <a href="https://restaurantguru.com/Gurcoff-San-Agustin-Huila" class="rest-white_center f12" target="_blank">GurCoff San Agustín Huila</a> <div class="rest_white_arc-heading"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140px" height="140px" viewBox="0 0 140 140"> <defs> <path id="rest_white_subheading-arc" d="M 12 70 a 58 58 0 0 0 116 0"></path> </defs> <text class="heading__subheading f10" fill="#fff" text-anchor="middle"> <textPath startOffset="50%" xlink:href="#rest_white_subheading-arc">Restaurant Guru • La mejor cafetería</textPath> </text> </svg> </div> </div>

    <link href="https://awards.infcdn.net/circ5_n.css" rel="stylesheet"/><div id="rest_circ5" onclick="if(event.target.nodeName.toLowerCase() != 'a') {window.open(this.querySelector('.circ_top_title').href);return 0;}"> <div class="circ_cont"><div class="circ_img" style="background: url('https://awards.infcdn.net/img/star_red.svg') no-repeat center">&nbsp;</div><a href="https://restaurantguru.com" target="_blank" class="circ_top_title">Restaurant Guru 2022</a><span>Recommended</span><a href="https://restaurantguru.com/Gurcoff-San-Agustin-Huila" class="circ_bot_title " target="_blank">GurCoff San Agustín Huila</a></div></div>
  </section>

  <img src="{{site.baseurl}}/img/confetti.webp" width="400" height="400" loading="lazy" alt="Imagen de confeti para celebrar"></img>
  
  <div class="footer-links">
    <a href="{{site.baseurl}}/contacto"
      title="Página de contacto de la heladería GurCoff de San Agustín Huila">Contacto</a>
    <a href="{{site.baseurl}}/blog" title="Página del blog de la heladería GurCoff de San Agustín Huila">Blog</a>
    <a href="{{site.baseurl}}/legal"
      title="Página con las condiciones del uso del sitio web, el manejor de datos y la privacidad del usuario en esta página web de la heladería GurCoff de San Agustín Huila"
      rel="nofollow">Avisos legales</a>
    <a href="https://lordicon.com/" rel="nofollow noopener noreferer">Animated icons by Lordicon.com</a>
    <a href="{{site.baseurl}}/sitemap.xml"
      title="Sitemap del sitio web de la heladería GurCoff de San Agustín Huila">Sitemap</a>
  </div>

  <small class="register">&copy; GurCoff Heladería {{ "now" | date:"%Y"}} - Todos los derechos reservados.</small>

</footer>
<script async
  src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=158&amp;locationId=19216448&amp;lang=es_CO&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=true&amp;iswide=false&amp;border=true&amp;display_version=2"
  data-loadtrk onload="this.loadtrk=true"></script>