<div class="gallery">
  <a class="item item-1" href="{{site.baseurl}}/carta-gurcoff">
      <h3>Café Affogato</h3>
  </a>
  <a class="item item-2" href="{{site.baseurl}}/carta-gurcoff">
      <h3>Copas Deluxe</h3>
  </a>
  <a class="item item-3" href="{{site.baseurl}}/carta-gurcoff">
      <h3>Ensalada de Frutas</h3>
  </a>
  <a class="item item-4" href="{{site.baseurl}}/carta-gurcoff">
      <h3>Súper Especial</h3>
  </a>
  <a class="item item-5" href="{{site.baseurl}}/carta-gurcoff">
      <h3>Vasitos GurCoff</h3>
  </a>
</div>