<header class="wrapper">
  <div class="flow">
    <h1>{{page.h1}}</h1>
    {% if page.url == "/" %}
    <a href="https://goo.gl/maps/xRA8YXkkYfximyUu9" class="boton-main" target="_blank" rel="nofollow">Pitalito</a>
    <a href="https://goo.gl/maps/Kc6g8sZTeBaM71aP8" class="boton-main" target="_blank" rel="nofollow">San Agustín</a>
    {% endif %}
    {% if page.intro %}
    <p>{{page.intro}}</p>
    {% endif %}
  </div>
  {% include img-responsive.html hero=page.hero webpb=page.webpb webpm=page.webpm webps=page.webps alt=page.alt %}
</header>