<header class="wrapper">
  <div class="flow">
    <h1>{{page.h1}}</h1>
    {% if page.boton %}
    <a href="{{page.boton_link}}" class="boton-main">{{page.boton}}</a>
    <a href="{{page.boton2_link}}" class="boton-main">{{page.boton2}}</a>
    {% endif %} {% if page.intro %}
    <p>{{page.intro}}</p>
    {% endif %}
  </div>

  <!-- Swiper -->
  {% if page.url == "/" %}
  {% include swiper.html %}
  {% else %}
  {% include img-responsive.html webps=page.webps webpm=page.webpm webpb=page.webpb hero=page.hero alt=page.alt %}
  {% endif %}
</header>
