<div class="instagram">
  <h2>Sígue a <span class="fuenteGurcoff">GurCoff</span> en tu Instagram</h2>
  <p>Haz clic en las fotografías para ver nuestro perfil completo y antojarte un poquito de nustros helados.</p>
  <ul id="instafeed">
    {% for i in (0..9) %}
    <li>
      <a href="https://www.instagram.com/{{ include.username }}/">
        <img
          src="https://profilepageimages.usecue.com/images/{{ include.username }}/small/{{ i }}.jpg"
          alt="Instagram picture {{ i | plus:1 }}"
      /></a>
    </li>
    {% endfor %}
  </ul>
  <a href="https://www.instagram.com/gurcoff/" class="boton-main">Síguenos y etiquétanos</a>
</div>
