<nav>
  <input id="nav-toggle" type="checkbox">
  <a href="{{site.baseurl}}/" class="logo">GurCoff.com</a>
  <ul>
    <li><a href="{{site.baseurl}}/carta-gurcoff" {% if page.url contains "/carta-gurcoff" %}class="active"{% endif %}">Menú</a></li>
    <li><a href="{{site.baseurl}}/conoce-gurcoff" {% if page.url contains "/conoce-gurcoff" %}class="active"{% endif %}">Conócenos</a></li>
    <li><a href="{{site.baseurl}}/contacto" {% if page.url contains "/contacto" %}class="active"{% endif %}">Contáctanos</a></li>
    <li><a href="{{site.baseurl}}/blog" {% if page.url contains "/blog" %}class="active"{% endif %}">Blog GurCoff</a></li>
  </ul>
  <label for="nav-toggle" class="icono-nav">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>