<nav class="wow fadeInUp data-wow-delay='1s'">
  <ul>
    <li><a href="{{site.baseurl}}/" class="icon-home"><span> Inicio</span></a></li>
    <li><a href="{{site.baseurl}}/carta" class="icon-receipt-shopping-streamline"><span> Carta</span></a></li>
    <!-- <li><a href="{{site.baseurl}}/contacto" class="icon-angellist"><span> GurCoff</span></a></li> -->
    <li><a href="{{site.baseurl}}/en-san-agustin" class="icon-coffee"><span> Blog</span></a></li>
    <li><a href="#" class="icon-chevron-circle-up"><span></span></a></li>
  </ul>
</nav>