<section>

  <h2>Las mejores tardes en San Agustín Huila</h2>
  <p>Aquí tienes a tu alcance la manera de alegrar la tarde de tus seres amados. Regala el <strong>helado suave que
      enamoró a la comunidad que vive o visita a San Agustín,</strong> el centro del turismo arqueológico del Huila.</p>
  <p>Recuerda que estamos llevando este ratito de dulce alegría <strong>hasta tu casa</strong>.</p>

  <h2>Lo que San Agustín más pide a domicilio:</h2>

  <div class="galeria">
    {% include entradas.html limit="5" %}
  </div>

  {% include boton.html path="{{https://wa.me/c/573115245225}}" texto="Mira la carta en tu WhatsApp" %}

</section>
