<div class="sticky-container">
  <ul class="sticky">
      <li class="wow fadeInRight">
          <img src="{{ site.baseulr }}/img/face.png" width="32" height="32">
          <p><a href="https://www.facebook.com/programacionnet" target="_blank" >Síguenos en<br>Facebook</a></p>
      </li>
      <li class="wow fadeInRight">
          <img src="{{ site.baseulr }}/img/whatsapp.png" width="32" height="32">
          <p><a href="https://plus.google.com/programacionnet" target="_blank">Escríbenos por<br>WhatsApp</a></p>
      </li>
      <li class="wow fadeInRight">
          <img src="{{ site.baseulr }}/img/instagram.png" width="32" height="32">
          <p><a href="http://www.youtube.com/programacionnet" target="_blank">Síguenos en<br>Instagram</a></p>
      </li>
  </ul>
</div>