<div class="sticky-container">
    <ul class="sticky">
        <li class="wow fadeInRight">
            <img src="{{ site.baseulr }}/img/face.png" alt="Logo de facebook para la fanpage de GurCoff" width="32"
                height="32">
            <p><a href="{{site.facebook}}" target="_blank">Síguenos en<br>Facebook</a></p>
        </li>
        <li class="wow fadeInRight">
            <img src="{{ site.baseulr }}/img/instagram.png" alt="Logo de instagram para la cuenta de GurCoff" width="32"
                height="32">
            <p><a href="{{site.instagram}}" target="_blank">Síguenos en<br>Instagram</a></p>
        </li>
        <li class="wow fadeInRight">
            <img src="{{ site.baseulr }}/img/whatsapp.png" alt="Logo de WhatsApp para el chat de GurCoff" width="32"
                height="32">
            <p><a href="{{site.whatsapp}}" target="_blank">Escríbenos por<br>WhatsApp</a></p>
        </li>
    </ul>
</div>