<section class="swiper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture class="producto-img">
          <source media="(max-width: 325px)" type="image/webp" srcset="{{ site.baseurl}}/img/achocolatada/{{include.webp1}}">
          <img src="{{ site.baseurl}}/img/{{include.foto1}}" alt="{{include.alt1}}">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture class="producto-img">
          <source media="(max-width: 325px)" type="image/webp" srcset="{{ site.baseurl}}/img/achocolatada/{{include.webp2}}">
          <img src="{{ site.baseurl}}/img/{{include.foto2}}" alt="{{include.alt2}}">
        </picture>
      </div><div class="swiper-slide">
        <picture class="producto-img">
          <source media="(max-width: 325px)" type="image/webp" srcset="{{ site.baseurl}}/img/achocolatada/{{include.webp3}}">
          <img src="{{ site.baseurl}}/img/{{include.foto3}}" alt="{{include.alt3}}">
        </picture>
      </div><div class="swiper-slide">
        <picture class="producto-img">
          <source media="(max-width: 325px)" type="image/webp" srcset="{{ site.baseurl}}/img/achocolatada/{{include.webp4}}">
          <img src="{{ site.baseurl}}/img/{{include.foto4}}" alt="{{include.alt4}}">
        </picture>
      </div>
    </div>
  </div>
</section>