.articulo{
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding-top: 7rem;
}

.articulo h1,
.articulo h3,
.articulo h4,
.articulo h2{
  width: 100%;
}

.articulo img {
  border-radius: 7px;
  box-shadow: var(--shadow);
  max-width: 100%;
}

.articulo em {
  font-family: var(--fuenteTitulos);
  line-height: 1.2;
}

.articulo li {
  margin-left: 1rem;
}

.articulo table tr{
  display: flex;
  border-bottom: 1px solid var(--secundario);
  padding: 0.3rem 0;
}

.articulo table th {
  background: var(--secundario);
  padding: 0.3rem 0.5rem;
  justify-content: left;
  width: 100%;
}

.articulo table td{
  padding: 0 .3rem;
}

.articulo blockquote {
  position: relative;
  display: grid;
  background: var(--secundario);
  padding: 4rem 2rem;
  margin: 3rem 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  color: var(--blanco);
  font-weight: 700;
  font-size: clamp(18px, (1.2rem + 1vw) * 1.2, 1.5rem);
  font-family: var(--fuenteTitulos);
  text-shadow: var(--shadow);
  width: 100%;
  text-align: center;
}

.articulo iframe{
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 7px;
}

.sugerencias {
  background-color: rgba(136, 51, 255, .3);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: grid;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  box-shadow: var(--shadow);
}

.sugerencias h3 {
  text-transform: inherit;
}

.sugerencias a{
  color: var(--grisTextos);
  text-decoration-color: var(--complemento2);
}

.relacionados img {
  max-width: fit-content;
  border-radius: 7px;
  box-shadow: var(--shadow);
}

#layout{
  padding: 1rem;
}