.header-articulo h1 {
  padding: 10rem 0 0 0;
}

.articulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.articulo h2 {
  line-height: 1.2;
  margin: 2rem 0;
}

.articulo p {
  margin: 1rem 0;
}

.articulo em {
  display: inherit;
  text-align: center;
}

.articulo a {
  color: var(--complemento2);
}

.articulo li {
  margin-left: 1rem;
}

.articulo blockquote::before {
  content: '"';
  position: absolute;
  left: -0.35em;
  top: -0.35em;
  font-size: 7em;
  font-family: var(--fuenteTitulos);
  color: var(--accion);
}

.sugerencias {
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
}

.sugerencias h3 {
  margin: 0 0 1rem 0;
  font-size: var(--sizeH3);
}

.relacionados {
  width: 300px;
}

.relacionados img {
  max-width: 100%;
}

.sugerencias h4 {
  font-family: var(--fuenteTexto);
}

@media screen and (min-width: 600px) {
  .header-articulo h1 {
    padding: 15rem 0 0 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {

.header-articulo h1 {
  padding-top: 12rem;
}

  .articulo {
    width: 80vw;
    margin: 0 auto;
  }
  .articulo img {
    position: relative;
    overflow: hidden;
    float: right;
    margin-left: 2em;
  }

  .sugerencias {
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  }

  .sugerencias h3{
    grid-column: span 3;
    text-align: center;
    margin: 2rem 0;
  }

  .relacionados {
    padding: 0;
  }
}

@media screen and (min-width: 600px) {
  .header-articulo h1 {
    padding: 18rem 0 0 0;
  }
}