/***** Artículos *******/
.magazine article {
  margin: 3em 0;
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-gap: 0.5em;
  padding: 1em;
  align-items: center;
}

.magazine article h3,
.magazine article p,
.magazine article a {
  margin: 0;
}

.articulo {
  position: relative;
}

.articulo li {
  margin-bottom: 1em;
}

.articulo table {
  margin-bottom: 3em;
}

.articulo table td {
  padding: 0.5em;
}
.articulo blockquote{
  position: relative;
}

.articulo blockquote::before {
content: '"';
position: absolute;
left: -0.35em;
top: -0.35em;
font-size: 7em;
font-family: var(--fuenteTitulos);
color: var(--accion);
}

.rect h5 {
  font-size: 1.2em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .articulo img {
    position: relative;
    overflow: hidden;
    width: 300px;
    float: right;
    margin-left: 2em;
  }
}