.magazine p,
.magazine h2{
  width: 100%;
  margin-bottom: 2rem;
}

.magazine h3 {
  margin: 2rem 0;
}

.magazine article {
  width: 300px;
  margin: 1rem 0;
  align-self: center;
  justify-self: grid;
}

.magazine article a img {
  margin: 0.5rem 0;
  border-radius: 5px;
  box-shadow: var(--shadow);
}