.magazine {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  margin: 0;
}

.magazine h2 {
  font-size: var(--sizeH2);
}

.magazine article {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.magazine img {
  max-width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.magazine article a{
  justify-self: end;
}

@media screen and (min-width: 992px) {
  .magazine {
    width: 80vw;
    padding: 2rem 0;
    margin: 0 auto;
    gap: 4rem;
  }
}