.botones{
  transition: 0.5s ease-in;
}

.botones:hover {
  text-decoration: underline;
  text-decoration-color: var(--accion);
  text-decoration-thickness: 0.4rem;
}

@media screen and (min-width: 1200px){
  .botones::before{
    font-size: 4rem;
  }
}