.carta {
  display: grid;
  gap: 2em;
}

.carta h2{
  margin-inline: auto;
  width: min(70vw, 640px );
}

.carta div h3{
  text-align: left;
}

.carta-productos{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: flex-start;
}

.carta-productos img{
  float: right;
  aspect-ratio: 3 / 4;
  border-radius: 4px;
  margin-left: .5em;
}

.carta-productos article {
  position: relative;
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--oficial);
  box-shadow: var(--shadow);
}

.carta-productos summary{
  color: var(--accion);
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3.2px;
  font-family: var(--fuenteTextos);

}
.carta-productos summary div{
  display: flex;
  gap: .5em;
  justify-content: space-between;
  align-items: center;
}

.carta-productos summary::marker {
  content: " ";
}

.carta-productos div ul{
  margin: 1em 0;
}