.carta {
  display: grid;
  gap: 2em;
}

.carta h2{
  margin-inline: auto;
  width: min(70vw, 640px );
}

.carta div h3{
  text-align: left;
}

.carta div article {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--accion);
}

details summary {
  transition: margin 150ms ease-out;
}

details[open] summary {
  margin-bottom: 10px;
}

.carta details > div{
  display: grid;
  gap: .5rem;
  align-items: center;
}

.carta div summary{
  color: var(--oficial);
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3.2px;
  display: flex;
  gap: .8rem;
  font-family: var(--fuenteTitulos);
}

.carta div summary::marker {
  content: " ";
}

.carta div summary img{
  aspect-ratio: 3 / 4;
  align-self: center;
  border-radius: 4px;
}

.carta div summary div{
  display: grid;
  gap: .8rem;
  place-content: center;
}

.carta-productos{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: flex-start;
}

.carta-productos details > div p{
  font-size: 16px;
  margin-top: .8rem;
}

.carta-productos details > div a{
  font-size: 16px;
  justify-self: right;
  text-decoration: none;
  background-color: var(--principal);
  color: white;
  padding: .4rem .8rem;
  border-radius: 4px;
}

