.nosotros p,
.contacto p,
.blog-footer p {
  margin: 0 0 2rem;
}

.nosotros img,
.contacto img {
  float: left;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: var(--shadow);
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.nosotros q {
  display: inline-block;
  font-family: var(--fuenteTitulos);
  margin: 3rem auto;
  text-align: center;
}

.contacto li {
  list-style: none;
}

.contacto li address{
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  line-height: 1.2;
  font-style: inherit;
  margin: 2rem 0 1rem;
}

.nosotros h3,
.contacto h3 {
  margin: 2rem 0;
  text-align: left;
  color: var(--oficial);
}

.contacto iframe {
  border: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  float: left;
  margin: 2rem 0;
}

.contacto .home-intro ul{
  padding: 1rem;
}

.contacto .home-intro ul li{
  color: white;
}

.contacto .home-intro ul li b{
  text-transform: uppercase;
}

.contacto .home-intro img{
  box-shadow: none;
  max-width: 100%;
}

.contacto-telefono{
  text-align: center;
  color: white;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.contacto .instagram h2,
.contacto-telefono h3{
  color: white;
  text-align: center;
  width: min(90%, 640px);
}

.contacto-telefono a{
  color: var(--accion);
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 1.5px;
}

.enlaces-perfiles{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 4rem 0;
  flex-wrap: wrap;
}

.nosotros a:target{
  scroll-margin-top: -120px;
}