footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    rgba(224, 251, 252, 1),
    rgba(250, 250, 250, .4));
}

footer a,
footer p {
  display: inline-block;
  font-family: var(--fuenteTitulos);
}

footer a {
  color: var(--principal);
  margin: 1rem .5rem;
  font-weight: 700;
}