.gallery{
  overflow: auto;
  display: flex;
  gap: 1em;
  scroll-snap-type: x mandatory;
  background-color: var(--oficial); background-image: url('{{ site.baseurl }}/img/brick-wall.png');
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

 @media screen and (min-width: 2048px){
  .gallery{
    justify-content: center;
  }
  
 }

.gallery .item{
  position: relative;
  flex-shrink: 0;
  scroll-snap-align: start;
  height: 340px;
  width: min(90%, 400px);
  background-repeat: no-repeat;
  border: 1px solid var(--gris1);
  border-radius: var(--radius);
  display: grid;
}

.gallery a{
  color: var(--accion);
}

.gallery a h3{
  background-color: rgba(255, 255, 255, 0.78);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8rem;
  border-radius: 12px 12px 0 0;
}

.item-1 { 
  background-image: url('/img/cafe-affogato-san-agustin-huila.webp');
  background-size: contain;
}

.item-2 { 
  background-image: url('/img/copas-doble-helado-gurcoff.webp');
  background-size: contain;
}

.item-3 { 
  background-image: url('/img/ensadala-frutas-helado-gurcoff.webp');
  background-size: contain;
}

.item-4 { 
  background-image: url('/img/milkshake.webp');
  background-size: contain;
}

.item-5 { 
  background-image: url('/img/vaso-helado-suave-gurcoff.webp');
  background-size: contain;
}