header {
  height: min-content;
  padding: 8em 0 5em;
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  place-items: center;
}

header div{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

header img{
  width: min(100%, 580px);
  border-radius: var(--radius);
}
