/**** Header ****/

header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  background: rgb(177, 88, 232);
  margin: 0;
  padding: 0;
  height: 50vh;
  overflow-y: hidden;
}

header h1 {
  z-index: 22;
  color: var(--blanco);
  padding: 1em 0 0 1em;
}

header picture img {
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 20;
}

.logo {
  position: absolute;
  top: 0;
  left: 0.5rem;
  cursor: pointer;
  font-family: var(--fuenteGraficas);
  font-size: 2em;
  color: var(--blanco);
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 75px;
}

@media screen and (min-width: 768px) {
  .logo {
    left: 2em;
    font-size: 3em;
  }

  header h1 {
    font-size: 3em;
  }

}

@media only screen and (min-width: 576px) {

  header {
    padding: 0 6em;
  }
}

@media only screen and (min-width: 992px) {

  header{
    padding: 0 12em;
  }


  header picture img {
    left: 60%;
   }

}

@media only screen and (min-width: 1400px) {

  header {
    padding: 0 24em;
  }
}