header .logo svg {
  transition: 0.5s ease-in;
}

header.scrolled .logo {
  left: 2rem;
}

header.scrolled .logo svg {
  width: 20vw;
}

@media screen and (min-width: 992px) {

  header.scrolled .logo svg {
    width: 10vw;
  }
}