.benefits {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5rem 1rem 3rem;
  margin-inline: auto;
  background-color: var(--oficial); background-image: url('{{ site.baseurl }}/img/brick-wall.png');
}

.benefits div:first-child{
  width: min(100%, 1200px);
  display: grid;
  place-items: center;
  gap: 1.5rem;
}

.benefits div > p{
  text-align: center;
}

.benefits div a{
  color: var(--accion);
  text-decoration-color: var(--accion);
}

.benefits h2,
.benefits p{
  max-width: 720px;
}

.benefits-points{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.benefits-points article{
  width: min(100%, 520px);
  display: flex;
  gap: .7rem;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
}

.testimonials {
  display: grid;
  gap: 2rem;
  justify-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.testimonials h2 {
  color: var(--principal);
  line-height: 1;
}

.testimonials h2,
.testimonials p {
  width: min(100%, 600px);
}

.testimonials div{
  width: min(100%, 1200px);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.testimonials div a{
  color: var(--grisfuentes);
  text-decoration: none;
}

.testimonials div article{
  max-width: 320px;
  background: var(--principal);
background: linear-gradient(352deg, var(--principal) 0%, rgba(136,253,228,1) 23%);
  border-radius: 12px;
  box-shadow: var(--shadow);
  padding: .8rem;
}

.testimonials article ul {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.testimonials article ul li {
  list-style: none;
  color: var(--secundario);
}

.instagram {
  position: relative;
  padding: 5rem 16px 3rem;
  background-color: var(--principal);
  background-image: url('{{site.baseurl}}/img/brick-wall.png');
  color: white;
  display: flex;
  flex-direction: column;
}

.instagram h2 {
  margin: 0 auto 3rem;
  width: min(100%, 720px);
}

.instagram p{
  max-width: 520px;
  margin: 1rem auto 2rem;
  text-align: center;
}

#instafeed {
  overflow: auto;
  margin: 0 auto;
  width: min(100%, 1200px);
}

#instafeed li {
  float: left;
  display: block;
  margin: 0 0 1% 1%;
  width: 19%;
  padding-bottom: 19%;
  position: relative;
}

#instafeed li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.mapa {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
  text-align: center;
  padding: 0 clamp(1.5rem, 4vw, 4rem) 0;
}

.mapa iframe {
  display: block;
  border: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: min(100%, 580px);
}

.mapa em {
  width: min(100%, 580px);
}