.negocio{
  position: relative;
  background-color: var(--complemento1);
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-areas: "titulo"
  "parrafo"
  "imagen"
  "iconos"
  "boton";
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.negocio h3{
  margin: 0;
  text-align: center;
  grid-area: titulo;
}

.negocio p {
  grid-area: parrafo;
}

.negocio img{
  grid-area: imagen;
}

.negocio ul{
  display: flex;
  justify-content: space-between;
  grid-area: iconos;
}

.negocio ul li{
  list-style: none;
  margin: 0;
}

.negocio a{
  max-width: max-content;
  justify-self: center;
  background-color: var(--principal);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
  text-decoration: none;
  color: var(--blanco);
  grid-area: boton;
}