.hoteles-intro{
  width: min(100%, 800px);
  margin: 2rem auto 0;
  text-align: center;
  padding: 0 16px;
}

.hoteles{
  margin: 0;
}

.hoteles div{
  align-items: baseline;
}

.hoteles div{
  color: var(--grisFuentes);
}

.hoteles div article{
  position: relative;
  background-color: white;
  width: min(100%, 320px);
  display: grid;
  justify-content: left;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: var(--shadow);
  padding-bottom: .5rem;
}

.hoteles div article span{
  display: flex;
  padding: 0.5rem 0;
}

.hoteles div article h3{
  color: var(--secundario);
  text-shadow: 0 0 2px var(--accion);
  font-family: var(--fuenteTextos);
  text-align: center;
  letter-spacing: 0;
  margin: .5rem auto 0;
}

.hoteles div article ul li{
  font-size: .8rem;
  list-style: none;
  padding: 0 .5rem;
}

.hoteles div article > a{
  display: block;
  text-align: right;
  padding: 0 .5rem;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}

.hoteles div article a:hover{
  box-shadow: none;
}