nav{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px clamp(1.5rem, 8vw, 3rem);
  z-index: 10;
  width: 100%;
  background-color: var(--blanco);
  border: 1px solid var(--grisClaro);
}

nav div{
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


@media (min-width: 767px){
  nav{
    top: 0;
    bottom: auto;
  }
}

.logo{
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.402));
  -webkit-filter: drop-shadow(2px 2px 2px rgba(10, 10, 10, 0.402));
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.logo:hover img{
  filter: drop-shadow(2px 4px 4px rgba(44, 44, 44, 0.402));
  -webkit-filter: drop-shadow(2px 4px 4px rgba(10, 10, 10, 0.402));
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.logo img{
  width: clamp(48px, 10vw, 60px)
}