.negocio{
  padding: 0.7rem;
  width: 100%;
  margin-bottom: 2rem;
  background: var(--complemento1);
  box-shadow: var(--shadow);
  border-radius: 7px;
}

.negocio a{
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}

.negocio img{
  max-width: 100%;
}

.negocio div ul{
  display: flex;
  justify-content: space-around;
}

.negocio div ul li{
  list-style: none;
  margin: 1rem 0;
}

.negocio div ul li img{
  box-shadow: none;
}