.principal {
  display: grid;
  grid-gap: 3rem;
  place-content: center;
}

.principal article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.principal article img {
  max-width: 75vw;
  max-height: 50vh;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 0 150px 0 75px;
  box-shadow: var(--shadow);
  background: var(--complemento1);
}

.principal article:nth-child(3) img {
  background: var(--complemento2);
}

.principal article:nth-child(4) img {
  background: var(--accion);
}

.principal article:nth-child(5) img {
  background: var(--secundario);
}

.principal article:nth-child(6) img {
  background: var(--principal);
}

.invitacion {
  background-color: var(--principal);
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.invitacion video {
  border-radius: 7px;
  box-shadow: var(--shadow);
  width: 100%;
  height: auto;
}

.invitacion h2,
.invitacion p {
  color: var(--blanco);
}

.invitacion strong {
  color: var(--accion );
}

.blog-intro {
  display: grid;
  grid-gap: 5rem;
}

.blog-intro article img {
  max-width: 100%;
  border-radius: 75px 0 35px 0;
  box-shadow: var(--shadow);
}

.blog-intro article ul{
  display: flex;
  justify-content: left;
}

.blog-intro article ul li{
  list-style: none;
  text-transform: capitalize;
  margin: 0.7rem 1.2rem 0 0;
  color: var(--complemento2);
}