@media only screen and (min-width:600px) {
  section {
    width: 70vw;
  }

  .contacto ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .contacto ul li {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width:767px) {

  header {
    height: 60vh;
  }

  header h1 {
    max-width: 60vw;
  }

  header .botones {
    font-size: 2em;
  }

  .principal article {
    display: grid;
    grid-gap: 0 1rem;
    grid-template-areas: "img h3""img p";
    justify-content: center;
    align-items: center;
  }

  .principal article img {
    max-width: 40vw;
    max-height: 60vh;
    padding: 2rem 6rem;
    grid-area: img;
  }

  .principal article:nth-child(3),
  .principal article:nth-child(5),
  .principal article:nth-child(7) {
    grid-template-areas: "h3 img""p img";
  }

  .principal article:nth-child(3) img,
  .principal article:nth-child(5) img,
  .principal article:nth-child(7) img {
    border-radius: 150px 0 75px 0;
  }

  .principal h3 {
    align-self: flex-end;
  }

  .invitacion {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 2fr;
  }

  .invitacion video {
    grid-row: span 2;
    justify-self: center;
    align-self: center;
  }

  .invitacion h2 {
    align-self: flex-end;
  }

  .blog-intro {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .blog-intro article {
    width: 300px;
  }
}

@media only screen and (min-width:992px) {

  .principal article h3,
  .principal article p {
    margin: 0;
    padding: 0 2rem;
    max-width: 40vw;
  }

  .invitacion {
    padding: 1rem 7rem;
  }

  .contacto,
  .nosotros {
    width: 50vw;
    margin: 0 auto
  }
}