@media screen and (min-width:600px) {
  .invitacion {
    height: 60vh;
  }

  .articulo iframe{
    height: 360px;
  }

  .sugerencias {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr));
  }

  .sugerencias h3 {
    margin: 0;
    align-self: center;
  }

  .relacionados {
    display: flex;
    flex-direction: column;
  }

  .contacto ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .contacto ul li {
    margin-right: 1.5rem;
  }

}

@media screen and (min-width:767px) {

  header {
    height: 35vh;
  }

  .principal div article:nth-child(1),
  .principal div article:nth-child(3),
  .principal div article:nth-child(5),
  .principal div article:nth-child(7) {
    grid-template-areas: "h3 img""p img";
  }

  .principal div article:nth-child(1) img,
  .principal div article:nth-child(3) img,
  .principal div article:nth-child(5) img,
  .principal div article:nth-child(7) img {
    border-radius: 150px 0 75px 0;
  }

  .principal h3 {
    align-self: flex-end;
  }

  .invitacion {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 2fr;
    height: 50vh;
  }

  .invitacion video {
    grid-row: span 2;
    justify-self: center;
    align-self: center;
  }

  .invitacion h2 {
    align-self: flex-end;
  }

  .blog-intro,
  .magazine {
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    place-content: center;
  }

  .blog-intro article {
    width: 300px;
  }

  .articulo table tr {
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5rem;
  }

  .articulo table thead tr {
    padding: 0;
  }

  .articulo table thead {
    text-align: center;
  }

  .negocio {
    grid-template-areas: "titulo titulo"
      "imagen parrafo"
      "imagen iconos"
      "boton boton";
  }

  .magazine {
    width: 80vw;
    grid-gap: 0.5rem;
  }

  .magazine h2,
  .magazine p,
  .magazine h3,
  #search-container {
    grid-column: span 2;
  }

  #mc_embed_signup {
    width: 60vw
  }

}

@media only screen and (min-width:992px) {

  .hamburguer-menu {
    top: 1rem;
    bottom: unset;
  }

  .principal,
  .blog-intro,
  .magazine {
    width: 70vw;
  }

  .principal article h3,
  .principal article p {
    margin: 0;
    padding: 0 2rem;
    max-width: 40vw;
  }

  .invitacion {
    padding: 1rem 7rem;
    height: 40vh;
  }

  #search-container {
    width: 50vw;
    justify-self: center;
  }

  .magazine h2,
  .magazine p,
  .magazine h3,
  #search-container {
    grid-column: span 3;
  }

  .articulo {
    position: relative;
    width: 720px;
    margin-left: 2rem;
    padding: 7rem 0;
    justify-self: left;
    justify-content: left;
  }

  .articulo iframe{
    height: 520px;
  }

  .sugerencias {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 25vw;
    margin: 0;
    padding: 1.5rem;
    gap: 1rem;
  }

  .comentarios {
    width: 50vw;
    margin: 0 auto
  }

  #mc_embed_signup {
    width: 50vw
  }

}

@media screen and (min-width:1200px) {
  #mc_embed_signup {
    width: 40vw
  }

  .negocio {
    align-items: center;
    grid-template-areas: "imagen titulo boton"
      "imagen parrafo boton"
      "imagen iconos boton";
  }

  .articulo {
    margin-left: 7rem;
  }

}