
#markdown-toc {
  border: 1px solid #e6e6e6;
  padding: 2rem;
  margin: 2rem 0 1.5rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
  background-color: white;
  width: 100%;
  font-size: clamp(.9rem, 1.5vw, 1.1rem);
  line-height: 1.5;
}

#markdown-toc li{
  list-style: none;
}

#markdown-toc::before {
  content: "Contenido:";
  font-weight: 700;
}

#markdown-toc ul {
  margin: 0 0 0 2rem;
}

#markdown-toc a,
#markdown-toc li ul li{
  list-style: decimal;
  text-decoration: none;
  letter-spacing: -.4px;
}