.reclutamiento {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40vw, 480px));
  justify-content: center;
  padding: 8rem 16px 4rem;
}

.reclutamiento h2{
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 6rem;
}

.reclutamiento div{
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.reclutamiento div img{
  width: min(100%, 300px);
}

.reclutamiento div:nth-child(1) {
  background-color: white;
}

.reclutamiento div:nth-child(2) {
  background-color: var(--secundario);
}

.reclutamiento div:nth-child(3) {
  background-color: var(--oficial);
}

.reclutamiento div:nth-child(4) {
  background-color: white;
}

.reclutamiento a{
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 4rem auto;
}

.oferta_trabajo {
  padding: 4rem clamp(1.6rem, 20px, 4rem);
  justify-items: center;
}

.oferta_trabajo h3 {
  margin: 0 0 2rem;
  max-width: 280px;
}

.oferta_trabajo p,
.oferta_trabajo ul {
  width: min(70%, 400px);
  margin: 0;
}

.svg-icon {
  width: 80px;
  height: 80px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--accion);
}

.svg-icon circle {
  stroke: var(--accion);
  stroke-width: 1;
}