/*** Formatos Universales ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--blanco);
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTextos);
  color: var(--grisFuentes);
}

section,
header,
main,
footer {
  padding: 2em;
}

a {
  text-decoration: none;
  font-family: var(--fuenteTexto);
  color: var(--principal);
}

li {
  list-style: none;
}

b,
strong {
  font-weight: 700;
  color: var(--principal);
}

span {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1,
h3,
h4{
  font-family: var(--fuenteTitulos);
}

h2 {
  line-height: 1;
  text-align: center;
  font-family: var(--fuenteTexto);
}

button {
  margin: 2em 0;
}

img {
  border-style: none;
}

[hidden] {
  display: none;
}

.rect {
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  padding-top: 15px;
}

.rel {
  width: 150px;
  display: inline-block;
  padding: 0 20px;
  opacity: 0.8;
}

.rel img {
  max-width: 100%;
}

.rel hover {
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  section,
  header,
  main,
  footer {
    padding: 4em 5em;
  }
}

@media only screen and (min-width: 992px) {


}

@media only screen and (min-width: 1400px) {}