b,
strong {
  font-weight: 700;
}

span {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: clamp(18px, (1.2rem + 1vw) * 1.2, 1.5rem);
}

.botones:hover {
  background: transparent;
}

.botones:hover::before {
  top: 0;
  left: 0;
}

.fade {
  height: 1px;
  color: var(--complemento2);
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0), var(--complemento2) 50%, rgba(255, 0, 0, 0) 100%);
}

[hidden] {
  display: none;
}