/*** Formatos Universales ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--blanco);
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTextos);
  color: var(--grisFuentes);
}

section,
header,
main,
footer {
  padding: 4rem 2rem;
}

a {
  text-decoration: none;
  font-family: var(--fuenteTexto);
  color: var(--principal);
}

b,
strong {
  font-weight: 700;
}

span {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1,
h3,
h4 {
  font-family: var(--fuenteTitulos);
}

h2 {
  line-height: 1;
  text-align: center;
  font-family: var(--fuenteTexto);
}

button {
  margin: 2rem 0;
}

img {
  border-style: none;
}

.fade {
  height: 1px;
  color: var(--complemento2);
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0), var(--complemento2) 50%, rgba(255, 0, 0, 0) 100%);
}

[hidden] {
  display: none;
}

@media only screen and (min-width: 600px) {

  section,
  header,
  main,
  footer {
    padding: 2rem 5rem;
  }
}

@media only screen and (min-width: 992px) {

  section,
  header,
  main,
  footer {
    padding: 2rem 8rem;
  }
}