:root {
  --principal: #8833ff;
  --oficial: #A875EF;
  --secundario: #f393cf;
  --accion: #88fde4;
  --rojo: #A31621;
  --grisClaro: #aeaeae;
  --grisFuentes: #161519;
  --shadow: 0 4px 8px rgba(24, 24, 24, 0.302);
  --blanco: #f9f9f9;
  --fuenteTitulos: 'Domine', serif;
  --fuenteTextos: 'Josefin Sans', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  scroll-behavior: auto;
  font-size: 100%;
}

body {
  color: var(--grisFuentes);
  font-family: var(--fuenteTextos);
  background-color: var(--blanco);
}

a {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--oficial);
  text-decoration-color: var(--oficial);
  text-decoration-thickness: 0.18rem;
  color: var(--oficial);
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: var(--fuenteTitulos);
}

h1 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  line-height: 1.2;
  color: var(--accion);
  text-shadow: var(--shadow);
  margin-bottom: 2rem;
}

h2 {
  font-size: clamp(2.3rem, 3.5vw, 2.5rem);
  line-height: 1.2;
  text-align: center;
}

h3, q {
  font-size: clamp(2rem, 3vw, 2.2rem);
  line-height: 1.2;
  text-align: center;
}

h4 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  line-height: 1.2;
  text-align: left;
  margin: 1.5rem 0;
}

p {
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  letter-spacing: -.4px;
  line-height: 1.3;
}

b,
strong {
  font-weight: 700;
}

span {
  font-weight: 700;
}

header {
  position: relative;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  justify-items: center;
  align-items: center;
  color: white;
  padding: 3rem clamp(1.5rem, 8vw, 3rem);
}

@media (min-width: 767px){
  header{
    padding: calc(3rem + 82px) clamp(1.5rem, 8vw, 3rem) 3rem;
  }
}

header div{
  padding: 3rem 0;
}

header .titulo-home {
  color: var(--accion);
  text-shadow: var(--shadow);
}

header img {
  max-width: 100%;
  border-radius: 8px;
  aspect-ratio: auto;
}

.boton-main {
  display: inline-block;
  background-color: var(--accion);
  color: var(--principal);
  border: 1px solid var(--principal);
  padding: .4rem 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  transition: all .25s ease;
  font-weight: 700;
  text-decoration: none;
}

.boton-main:hover{
  background-color: white;
  border: 1px solid var(--accion);
  text-shadow: var(--shadow);
}

/* Compartidos */

.testimonials,
.blog-footer,
footer {
  padding: 4rem clamp(1rem, 5vw, 2rem);
}

.nosotros,
.contacto,
.magazine,
.articulo,
.legal,
.blog-footer div {
  margin: 7rem auto;
  width: min(90vw, 800px);
}

.nosotros h2,
.contacto h2,
.articulo h2{
  margin: 3rem 0;
  color: var(--principal);
  width: min(80vw, 100%);
}
