b,
strong {
  font-weight: 700;
}

span {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(24px, (1.5rem + 1vw) * 1.25, 2.5rem);
  font-family: var(--fuenteTitulos);
  text-transform: uppercase;
}

h2 {
  font-size: clamp(20px, (1.3rem + 1vw) * 1.2, 2rem);
  text-align: center;
}

h3 {
  font-size: clamp(18px, (1.2rem + 1vw) * 1.2, 1.5rem);
}

h2, h3{
  margin: 1.5rem 0;
  font-family: var(--fuenteTitulos);
  text-transform: capitalize;
}

img {
  border-style: none;
}

section,
main {
  width: 90vw;
  justify-self: center;
}

.fade {
  height: 1px;
  color: var(--complemento2);
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 0), var(--complemento2) 50%, rgba(255, 0, 0, 0) 100%);
}

[hidden] {
  display: none;
}