
:root {
  --principal: #8833ff;
  --secundario: #fd74b6;
  --accion: #1ef8b6;
  --grisFuentes: #161519;
  --shadow: 0 8px 5px rgba(24, 24, 24, 0.302);
  --blanco: #f6f6f6;
  --blancoRGBA: rgba(249, 249, 255, .7);
  --fuenteTitulos: 'Sacramento', cursive;
  --fuenteTextos: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  scroll-behavior: auto;
}

body {
  color: var(--grisFuentes);
  font-family: var(--fuenteTextos);
  background-color: var(--blanco);
}

a {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--accion);
  text-decoration-color: var(--accion);
  text-decoration-thickness: 0.2rem;
  color: var(--accion);
}

a:active {
position: relative;
top: 1px;
}

h1, h2, h3{
  font-family: var(--fuenteTitulos);
}

h1 {
  font-size: clamp(22px, (1.5rem + 1vw) * 1.25, 3em);
  text-transform: uppercase;
}

h2 {
  font-size: clamp(20px, (1.3rem + 1vw) * 1.2, 2rem);
}

h3 {
  font-size: clamp(18px, (1.2rem + 1vw) * 1.1, 1.8rem);
}

img {
  border-style: none;
  width: 100%;
}

b,
strong {
  font-weight: 700;
}

span {
  font-weight: 700;
}

header{
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}