:root {

  /*** COLORES ***/
  /* rgb */
  --principal: #984fff;
  --secundario: #f0a6ca;
  --accion: #FFE74C;
  --complemento1: #E0FBFC;
  --complemento2: #6BF178;

  --gris1: rgba(191, 191, 191, 1);
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);
  --grisFuentes: rgb(37, 35, 37);

  /* hexadecimal */
  --blanco: rgb(248, 248, 255);
  --blancoRGBA: rgba(255, 255, 255, 0.8);

  /*** FUENTES ***/
  --fuenteTitulos: 'Dancing Script', cursive;
  --fuenteTexto: 'Lato', sans-serif;
  --fuenteGraficas: 'Lato', sans-serif;

  --sizeH1: 2.223em;
  --sizeH2: 1.875em;
  --sizeH3: 1.5em;
  --sizeTextos: 18px;
}