:root {
  --principal: #984fff;
  --secundario: #f0a6ca;
  --accion: #FFE74C;
  --complemento1: #E0FBFC;
  --complemento2: #6BF178;
  --gris1: rgba(191, 191, 191, 1);
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);
  --grisFuentes: rgb(37, 35, 37);
  --shadow: 0 2px 5px rgba(0, 0, 0, .2);
  --blanco: rgb(248, 248, 255);
  --blancoRGBA: rgba(255, 255, 255, .8);
  --fuenteTitulos: 'Arvo', serif;
  --fuenteTexto: 'Martel', serif;
  --fuenteGraficas: 'Delius', cursive;
  --sizeH1: 2.223rem;
  --sizeH2: 1.875rem;
  --sizeH3: 1.5rem;
  --sizeTextos: 16px
}