:root {

  /*** COLORES ***/
  /* rgb */
  --principal: #AD7AF5;
  --secundario: #a261fc;
  --complemento: #F58DD2;
  --accion: #8229ff;
  --amarillo: #f1f517;
  --verde: #82ecff;

  --gris1: rgba(191, 191, 191, 1);
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);
  --grisFuentes: rgb(37, 37, 37);

  /* hexadecimal */
  --blanco: rgb(255, 255, 255);
  --blancoRGBA: rgba(255, 255, 255, 0.8);

  /*** FUENTES ***/
  --fuenteTitulos: 'Gotu', sans-serif;
  --fuenteTexto: 'Montserrat', sans-serif;
  --fuenteGraficas: 'Abril Fatface', cursive;
}