---
layout: default
---
{% include header.html %}
</section>
<main class="articulo">
  {{ content }}
</main>
{% include share.html %}
<section>
  <h2>Más opciones que te recomendamos:</h2>
  <div class="referenciados">
    {% for category in site.categories.magazine | limit = "3" %}
    <article>
      <picture class="foto">
        <source type="image/webp" srcset="{{ site.baseurl }}/{{ post.webp }}">
        <img src="{{ site.baseurl }}/{{ page.src }}" class="wow flipInY" data-wow-delay="0.7s" alt="{{ post.alt }}">
      </picture>
      <h3>
        {{ post.excerpt }}
      </h3>
      <a href="{{ site.baseurl }}{{ post.url }}" class="icon-chevron-circle-right"> Ver más</a>
    </article>
    {% endfor %}
  </div>
</section>