---
layout: default
---
<header class="header-articulo" style="background: none; height: auto;">
  {% include logo.html %}
  <h1>{{page.title}}</h1>
</header>
<main class="articulo">
  {{ content }}
</main>
{% include share.html %}

<section class="sugerencias">

  <h3>Más sobre San Agustín Huila</h3>

  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}


  {% for post in site.posts %}


  {% assign sameTagCount = 0 %}
  {% assign commonTags = '' %}

  {% for tag in post.tags %}
  {% if post.url != page.url %}
  {% if page.tags contains tag %}
  {% assign sameTagCount = sameTagCount | plus: 1 %}
  {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
  {% assign commonTags = commonTags | append: tagmarkup %}
  {% endif %}
  {% endif %}
  {% endfor %}

  {% if sameTagCount >= minCommonTags %}

  <a href="{{ site.baseurl }}{{ post.url }}" title="{{post.title}}">
    <div class="relacionados">
      <picture>
        {% if post.img %}
        <source type="image/webp" srcset="{{ site.baseurl }}/{{ post.img }}">
        <img src="{{ site.baseurl }}/{{ post.img }}" alt="{{ post.alt }}">
        {% endif %}
      </picture>
      <h4> {{ post.title }}</h4>
    </div>
  </a>

  {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
  {% if maxRelatedCounter >= maxRelated %}
  {% break %}
  {% endif %}
  {% endif %}
  {% endfor %}

</section>

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="https://gurcoff.us1.list-manage.com/subscribe/post?u=0faf40f7e005334f6b2ff07d7&amp;id=10a7f1f130" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>¿Te gustaría leer los próximos artículos?</h2>
  <p>Solamente son 2 pasos. Nos envías tu correo, y nosotros te enviamos uno para confirmar que eres una persona. ¡Y eso es todo!</p>
<div class="indicates-required"><span class="asterisk">*</span> obligatorio</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Correo Electrónico  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" >
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0faf40f7e005334f6b2ff07d7_10a7f1f130" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Suscríbeme" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->

<section class="comentarios">
  {% include comentarios.html %}
</section>
{% include footer.html %}
<div id="fb-root"></div>
<!-- facebook comments -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v7.0"
nonce="PPHQs9rM"></script>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>