---
layout: compress
---
{% include head.html %}
<body>
  {% include nav.html %}

  {% include header.html %}
  
  {% if page.url contains "legal" %}
  <main class="legal">
    {{ content }}
  </main>
  {% else %}
  {{ content }}
  {% endif %}
  {% include footer.html %}
  <a href="{{site.whatsapp}}" class="boton-whatsapp">
    <img src="{{'img/whatsapp-logo.webp'|relative_url}}" alt="Logo de WhatsApp">
  </a>
</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JQ0EGSYDTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JQ0EGSYDTF');
</script>
<script data-ad-client="ca-pub-3100194943394350" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" defer></script>
